body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  color: black;
  margin-bottom: 10000px;
}
.button-primary {
  color: rgb(33, 33, 33);
  background-color: rgb(255, 216, 20);
  border: 1px solid rgb(252, 210, 0);
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

.button-primary:hover {
  background-color: rgb(242, 194, 0);
  border: 1px solid rgb(242, 194, 0);
}

.button-primary:active {
  background: rgb(255, 216, 20);
  border-color: rgb(252, 210, 0);
  box-shadow: none;
}
input:focus,
select:focus {
  outline: none;
}

label{
  color: black;
}

select {
  font-family: Roboto;
  color: rgb(33, 33, 33);
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(213, 217, 217);
  /* border: 1px solid black; */
  font-size: 14px;
  padding: 3px 5px;
  border-radius: 6px;
  box-shadow: 0px 3px 5px rgba(213, 217, 217, 0.5);
}

.limit-to-2-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.link-primary {
  cursor: pointer;
  color: rgb(1, 124, 182);
}
.link-primary:hover {
  color: rgb(196, 80, 0);
}
