/* body {
  font-family: Roboto;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.container {
  display: grid;
  grid-template-columns: 1fr 500px;
  height: 100vh;
}

.left-section {
  background-color: pink;
  background-image: url(../resources/ku-osm.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.right-section {
  padding: 50px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-heading {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
}
.input-group {
  width: 100%;
}

.details-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid rgb(172, 171, 171);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

:root {
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;

  font-family: Roboto;
  font-weight: 500;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.split-screen {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.left-section,
.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-section {
  flex-direction: column;
  height: 300px;

  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url(../../resources/ku-osm.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.logo {
  /* min-width: 100px; */
  max-width: 150px;
}

/* .left-section::before {
  content: "";
  background: inherit;
  background: inherit;
  filter: blur(2px);
} */
.right-section {
  /* background-color: var(--light-blue); */
  color: black;
}

.right-section .copy {
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  text-align: center;
}

.right-section .copy p {
  margin: 1.5em 0;
  font-size: 0.875rem;
}
.right-section form {
  width: 380px;
}
/* #fname {
  display: inline;
}
#lname {
  display: inline-block;
} */

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  display: block;
  width: 100%;

  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;

  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
}
/* .input-container.password {
  position: relative;
}
.input-container.password i {
  position: absolute;
  top: 42px;
  right: 16px;
} */
