@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* || css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
    width:80%;
    height: auto;
    margin-inline:auto;
}
figcaption {
    text-align: center;
}
html {
    scroll-behavior: smooth;
    color-scheme: light dark;
}
input , button {
    border:none;
    display: inline-block;
    height: 100%;
    padding-inline:0.8rem;
    background-color:var(--CLR-MID1-GREEN);
    color:white;
    border-radius: 10%;
}
button:hover {
background-color: rgba(0, 128, 0, 0.8);
}
/* || end reset */


/* utility classes */
.container {
    margin-inline:auto;
    padding-inline:0.5rem;
    width:100%;
}
/* || end utility classes */

/* || variables */
:root {
    --BORDER-ROTATION:0deg;
    --CLR-DARK-GREEN:#094908;
    --CLR-MEDIUM-GREEN:#00643a;
    --CLR-MID2-GREEN:rgba(0, 128, 0, 0.30);
    --CLR-LIGHT-GREEN:rgba(0, 128, 0, 0.21);
    --CLR-MID1-GREEN:green;
    --CLR-BLUE:#00baff;
    --CLR-LIGHT-BLUE:#d2f5ff;
    --CLR-LIGHT-BLUEGRAY:#587b98;
    --CLR-LIGHTPURPLE:#8B8DBA;
    --CLR-DARK-PURPLE:purple;
    --CLR-LIGHTNEUTRAL:#F8F8FF;
    --CLR-WARMNEUTRAL:#F1F1E6;
    --CLR-FADELIGHTNEUTRAL:#f8f8ff7a;
    --CLR-DARK-BLUE:rgb(2, 16, 55);
    /* width */
    --INNER-BOX-WIDTH:clamp(16rem , 60vw,50rem);
    --INNER-IMAGE-SIZE:clamp(5rem , 20% , 7rem);
    --INNER-BOX-HEIGHT:78vh;
    --OUTER-BOX-HEIGHT:79.1vh;
    --OUTER-BOX-WIDTH:clamp(17rem , 61vw , 51rem);
    --OUTER-IMAGE-WIDTH:min(50% ,18rem);
    /* gaps */
    --ROW-GAP:2%;
}
/* || end variables */

body {
    display:flex;
    flex-direction: column;
    height:100vh;
}
header {
    background-color: var(--CLR-WARMNEUTRAL);
    padding:0.5rem;
    /* height: 6rem; */
}
header figure {
    width:4rem;
    height: auto;
    /* padding:0.5rem; */
    /* margin:2rem; */
    box-shadow: 0px 0.2rem 0.2rem 0rem black;
    border-radius:25%;
}
.data_box figure{
    background-color: inherit;
    width:6rem;
    height: auto;
    margin-bottom: 1rem;
    align-self: flex-end;
}
section {
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.data_box{
    margin:5rem;
    display: flex;
    flex-direction: column;
    color:black;
    background-color: #F8F8FF;
    padding:2rem;
    border-radius: 3%;
    min-height: 30rem;
}
.data_box div {
    display: flex;
    justify-content: space-between;
    padding:1rem;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.756);
    width:40vw;
}
span {
    padding-right: 1rem;
    padding-left: 0.2rem;
    font-weight: 700;
}